# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\marce\OneDrive\Ambiente de Trabalho\TFC_marcella\TFC_codigo\inqueritos\treinarKotlin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
